.app{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  width: max-content;
  /* border: 1px solid red; */
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(156, 156, 156, 0.2);
  box-shadow: 0 0 20px 20px rgba(0,0,0,0.2);
}